* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
}

.headerTitle {
  text-align: center;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.deckControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40vh;
}

.compCardContainer {
  padding-top: 1rem;
}

.playerCardContainer,
.compCardContainer {
  display: flex;
  gap: 2px;
  justify-content: center;
}
