* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
}

.headerTitle {
  text-align: center;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.cardCount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deckControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  height: 60vh;
}

.card {
  width: 100px;
  border-radius: 10px;
}

.playerCardContainer {
  display: flex;
  gap: 2px;
  justify-content: center;
}
